<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 style="color: #0073aa">Sengle Message Template</h4>
            </div>
            <div class="col text-right">
              <button type="button" class="btn btn-primary">Create</button>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>