<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header" style="padding-top: 0;padding-left: 0.9rem;padding-right: 0.9rem;padding-bottom: 0; border-bottom: none;">
                    <div class="row" style="background-color: #0462c3; border-radius: 0 0 1rem 1rem; padding: 0.5rem;">
                        <div class="col text-center" style="padding-top: 0.2rem;">
                            <p style="color: #fff; font-size: 1.1rem; font-weight: 600; margin: 0;">NHS Patient Details</p>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="padding: 3rem;">
                    <div class="row">
                        <div class="col">
                            <div class="custom-control custom-switch text-right">
                                <input type="checkbox" class="custom-control-input " id="customSwitch1" (change)="testPatientChanged()" [(ngModel)]="testPatient" [ngModelOptions]="{standalone: true}">
                                <label class="custom-control-label" for="customSwitch1">Use with Test Patient</label>
                            </div>
                            <form #patientForm="ngForm">
                                <div class="mb-3 form-group">
                                    <label for="nhsNo" class="form-label">NHS No<sup class="text-danger">*</sup></label>
                                    <input type="text" #nhsNoModel="ngModel" ngModel class="form-control" id="nhsNo" aria-describedby="nhsNo" placeholder="XXX XXX XXXX" required [(ngModel)]="nhsNo" [ngModelOptions]="{standalone: true}" minlength="10" maxlength="10" pattern="\d{10}">
                                    <div *ngIf="nhsNoModel.invalid && (nhsNoModel.dirty || nhsNoModel.touched)" class="mb-0">
                                        <div *ngIf="nhsNoModel.errors?.required" class="text-right mb-0">
                                            <span style="color: red;"><i class="far fa-times-circle"></i>Please Enter NHS number</span>
                                        </div>
                                        <div *ngIf="nhsNoModel.errors?.minlength && !nhsNoModel.errors?.required" class="text-right mb-0 ">
                                            <span style="color: red;"><i class="far fa-times-circle"></i>Please Enter 10 digit NHS Number</span>
                                        </div>
                                        <div *ngIf="nhsNoModel.invalid && !nhsNoModel.errors?.minlength && !nhsNoModel.errors?.required" class="text-right mb-0 ">
                                            <span style="color: red;"><i class="far fa-times-circle"></i>Please Enter only numbers NHS Number</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class=" form-group">
                                        <label for="dob">DOB<sup class="text-danger">*</sup></label>
                                        <input type="date" #dobModel="ngModel" max="todayDate" class="form-control" id="dob" aria-describedby="dob" [(ngModel)]="dob" [ngModelOptions]="{standalone: true}" required>
                                    </div>
                                    <div *ngIf="dobModel.invalid && (dobModel.dirty || dobModel.touched)" class="mb-0">
                                        <div *ngIf="dobModel.errors?.required" class="text-right mb-0">
                                            <span style="color: red;"><i class="far fa-times-circle"></i>Please Enter DOB</span>
                                        </div>
                                        <div *ngIf="dobModel.invalid && !dobModel.errors?.required" class="text-right mb-0">
                                            <span style="color: red;"><i class="far fa-times-circle"></i>Please Enter valid DOB</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <button type="button" class="btn btn-primary" [disabled]="patientForm.invalid || nhsNoModel.invalid || dobModel.invalid" [class.gray]="patientForm.invalid || nhsNoModel.invalid || dobModel.invalid" (click)='searchData()'>Search Patient</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>