<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card">
                <div class="card-header"
                    style="padding-top: 0;padding-left: 0.9rem;padding-right: 0.9rem;padding-bottom: 0;background-color: #ddf0ff;border-color: #ddf0ff;">
                    <div class="row" style="background-color: #0462c3; border-radius: 0 0 1rem 1rem; padding: 0.5rem;">
                        <div class="col-6" style="padding-top: 0.2rem;">
                            <p style="color: #fff; font-size: 1.1rem; font-weight: 600; margin: 0;">Schedule Message
                                Templates</p>
                        </div>
                        <div class="col text-right">
                            <div class="row">
                                <div class="col" *ngIf="previewOn === true"></div>
                                <div class="col" *ngIf="previewOn === false">
                                    <button type="button" class="btn text-white"
                                        style="background-color: #2d9eff !important;border-radius: 10rem; padding: 0.3rem 0.7rem 0.3rem 0.7rem;"
                                        (click)="addMsgSchedule()" [disabled]="desable === false || phone === ''"><i
                                            class="fas fa-user-plus text-white"></i>Add Message</button>
                                </div>
                                <div class="col" *ngIf="previewOn === true">
                                    <button type="button" class="btn text-white"
                                        style="background-color: #2d9eff !important;border-radius: 10rem; padding: 0.3rem 0.7rem 0.3rem 0.7rem;"
                                        (click)="back()">Edit</button>
                                </div>
                                <div class="col" *ngIf="previewOn === true">
                                    <button type="button" class="btn text-white"
                                        style="background-color: #2d9eff !important;border-radius: 10rem; padding: 0.3rem 0.7rem 0.3rem 0.7rem;"
                                        (click)="cancel()">Cancel</button>
                                </div>
                                <div class="col" *ngIf="previewOn === true">
                                    <button type="button" class="btn text-white"
                                        style="background-color: #2d9eff !important;border-radius: 10rem; padding: 0.3rem 0.7rem 0.3rem 0.7rem;" (click)="sendMsg()">Send</button>
                                </div>
                                <div class="col" *ngIf="previewOn === false">
                                    <button type="button" class="btn text-white"
                                        style="background-color: #2d9eff !important;border-radius: 10rem; padding: 0.3rem 0.7rem 0.3rem 0.7rem;"
                                        (click)="preview()" [disabled]="desable === false || phone === ''">Preview</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body" *ngIf="previewOn === false">
                    <div class="row p-2" style="border: #000000;">
                        <div class="col-12">
                            <p><b>Patient : {{patientName}}</b></p>
                        </div>
                        <div class="col-4">
                            <p><b>NHS No: {{nhsNo}}</b></p>
                        </div>
                        <div class="col-4">
                            <p><b>Born: {{dob}} </b></p>
                        </div>
                        <div class="col-4">
                            <p><b>Gender: Not Specified</b></p>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col">
                            <p style="font-size: large;">Mobile Number :</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="number" class="form-control" (keypress)="phoneChange($event)" (keyup)="phoneChangeUp($event)" [(ngModel)]="phone" name="" id="" aria-describedby="helpId"
                                    placeholder="e.g xxxx xxx xxx">
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="scheduleForm">
                        <div class="row" formArrayName="mtshMsg">
                            <div class="col">
                                <div class="row w-100" *ngFor="let item of mtshMsg().controls.slice(1); let i = index"
                                    [formGroupName]="i">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="">Title</label>
                                            <select class="form-control" name="" id="" (change)="getMsgSelect($event, i)" formControlName="mstshMsgTitle">
                                                <option value="">Select</option>
                                                <option *ngFor="let item of singleMessageData"
                                                    value="{{item.mtsTitle}}">{{item.mtsTitle}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="">Time</label>
                                            <input type="datetime-local" formControlName="mtshMsgTime"
                                                (change)="onModelChange($event, i)"
                                                (focusout)="onFocusOutEvent($event, i)"
                                                (focus)="onFocusEvent($event, i)" class="form-control" name="" id="">
                                        </div>
                                    </div>
                                    <div class="col-2 pt-4">
                                        <!-- <button type="button" class="btn btn-primary">Okay</button> -->
                                        <div class="form-group">
                                            <button [disabled]="scheduleForm.invalid"
                                                style="background-color: #0073aa00;border-color: #0073aa00;color: red;"><i
                                                    class="fas fa-trash" style="cursor: pointer; position: absolute;"
                                                    (click)="removeMsgs(i)"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row" *ngIf="dataAvail === true">
                    no data
                </div> -->
                    </form>
                </div>
                <div class="card-body" *ngIf="previewOn === true">
                    <div class="row p-2">
                        <div class="col">
                            <p style="font-size: large;">Mobile Number :</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="number" class="form-control" readonly [ngModel]="phone1" name="" id="" aria-describedby="helpId"
                                    placeholder="+91 0000 000 000">
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngFor="let item of formData; let i = index"
                        style="border: 1px solid #0462c3; border-radius: 5px; padding: 0.5rem; margin: 0.5rem; margin-bottom: 1rem !important;">
                        <!-- <div class="col">Title</div>
                  <div class="col">{{item.mstshMsg}}</div>
                  <div class="col">Time</div>
                  <div class="col">{{item.mtshMsgTime}}</div> -->
                        <div class="col">
                            <div class="row w-100">
                                <div class="col">{{item.mstshMsgTitle}}</div>
                                <div class="col text-right">{{item.mtshMsgTime | date: 'short'}}</div>
                            </div>
                            <div class="row">
                                <div class="col p-2">
                                    <textarea name="" class="w-100" style="padding: 0.5rem; border-radius: 5px; border-color: #ab9999;" 
                                        value="{{item.mstshMsg}}" id=""></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body"
                    *ngIf="(this.mtshMsg().value[0].mstshMsg === '' && dataNull === false) || (mtshMsg().controls.length === 0 && dataNull === true)">
                    <div class="row">
                        <div class="col text-center">
                            <h4>No Data Found</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <!-- <div class="row mt-4">
      <div class="col-2"></div>
      <div class="col-8">
          <div class="card" *ngFor="let item of searchedData">
              <div class="card-body">
                  <div class="row" style="cursor: pointer;" (click)="goToSendMSG(item)">
                      <div class="col">
                          <p>
                              Patient NHS Number: {{item.nhs_no}}
                          </p>
                      </div>
                      <div class="col">
                          <p>
                              Patient Name: {{item.patient_name}}
                          </p>
                      </div>
                      <div class="col">
                          <p>
                              Patient DOB: {{item.dob}}
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-2"></div>
  </div> -->
    </div>