<div class="container">
  <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
          <div class="card">
            <div class="card-header" style="padding-top: 0;padding-left: 0.9rem;padding-right: 0.9rem;padding-bottom: 0;background-color: #ddf0ff;border-color: #ddf0ff;">
              <div class="row" style="background-color: #0462c3; border-radius: 0 0 1rem 1rem; padding: 0.5rem;">
                <div class="col text-center" style="padding-top: 0.2rem;">
                  <p style="color: #fff; font-size: 1.1rem; font-weight: 600; margin: 0;">NHS Patient Details</p>
                </div>
              </div>
            </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col">
                          <div class="row mt-3">
                              <div class="col" style="padding: 1rem 6rem 1rem 6rem;">
                                  <div class="form-group">
                                      <label for="">NHS No<sup style="color: red;">*</sup></label>
                                      <input type="text" class="form-control mt-1" name="" id=""
                                          aria-describedby="helpId" [(ngModel)]="nhsNo" placeholder="eg. 3585893864">
                                      <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                                  </div>
                                  <div class="form-group mt-4">
                                      <label for="">DOB<sup style="color: red;">*</sup></label>
                                      <input type="date" class="form-control mt-1" name="" id=""
                                          aria-describedby="helpId" [(ngModel)]="dob" placeholder="eg. 09/09/2020">
                                      <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                                  </div>
                              </div>
                          </div>
                          <div class="row mt-3">
                              <div class="col text-center">
                                  <button class="btn btn-primary" (click)="searchData()">Search
                                      Patient</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-3"></div>
  </div>
  <!-- <div class="row mt-4">
      <div class="col-2"></div>
      <div class="col-8">
          <div class="card" *ngFor="let item of searchedData">
              <div class="card-body">
                  <div class="row" style="cursor: pointer;" (click)="goToSendMSG(item)">
                      <div class="col">
                          <p>
                              Patient NHS Number: {{item.nhs_no}}
                          </p>
                      </div>
                      <div class="col">
                          <p>
                              Patient Name: {{item.patient_name}}
                          </p>
                      </div>
                      <div class="col">
                          <p>
                              Patient DOB: {{item.dob}}
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-2"></div>
  </div> -->
</div>