<loading *ngIf="isLoading">{{ isLoading }}</loading>
<!-- <div class="container-fluid">
    <div class="row d-inline-flex w-100">
        <div class="col-7 bg-1 d-block" style="padding-top: 5rem;">
            <div class="row">
                <div class="col-3"> -->
<!-- <h2>Ayuv</h2> -->
<!-- </div> -->
<!-- <div class="col-7"> -->
<!-- <h1 class="t1">Ayuv</h1> -->
<!-- </div> -->
<!-- <div class="col"> -->
<!-- <h2>Ayuv</h2> -->
<!-- </div> -->
<!-- </div> -->
<div class="bg-img" style="height: 100vh;">
  <div class="d-flex justify-content-center align-items-center" style="height: 82vh;">
    <div class="mx-auto app-login-box col-md-8">
      <div id="container">
        <!-- <div id="header"></div> -->
        <div id="body">
          <div class="row mt-1">
            <div class="col-lg text-right d-sm-none d-md-none d-xs-none d-lg-block" style="padding-top: 7rem;">
              <img src="../../../../assets/images/ayuv_logo.png" class="img-fluid" alt="">
            </div>
            <!-- <div>

            </div> -->
            <div class="col-lg text-center d-sm-none d-md-none d-xs-none d-lg-block">
              <img src="../../../../assets/images/rect.png" class="img-fluid" alt="">
            </div>

            <div _ngcontent-txt-c0="" class="col-lg col-sm-10 col-md-10 col-xs-10 mt-4">
              <!-- <form  [formGroup]="userForm"> -->
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <h2 > Register</h2>


                <div class="row">

                  <div class="col-sm-6">

                    <div class="mt-2">


                      <div class="inputWithIcon">

                        <input matInput type="text" placeholder="First Name" formControlName="userFirstName"
                           required/>
                        <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                        <mat-error *ngIf="f.userFirstName.invalid && f.userFirstName.touched">
                          Please enter a valid First Name (e.g John)
                        </mat-error>
                        <!-- <div *ngIf="f.userFirstName.errors?.required">
                          First Name is <strong>required</strong>
                        </div> -->
                        
                        <!-- <input type="text" formControlName="userFirstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userFirstName.errors }" />
                        <div *ngIf="submitted && f.userFirstName.errors" class="invalid-feedback">
                          <div *ngIf="f.userFirstName.errors.required">First Name is required</div>
                        </div>
                        <div *ngIf="userForm.get('userFirstName').errors &&
                        userForm.get('userFirstName').dirty &&
                        userForm.get('userFirstName').errors.validFname">
                          First name should start with @
                        </div> -->

                      </div>       
                    </div>

                  </div>
                  <div class="col-sm-6">
                    <div class="mt-2">

                      <div class="inputWithIcon">
                        <input matInput type="text" placeholder="Last Name" formControlName="userLastName"
                          [ngClass]="{ 'is-invalid': submitted && f.userLastName.errors }" required
                          [errorStateMatcher]="matcher">
                        <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                        <mat-error *ngIf="f.userLastName.invalid && f.userLastName.touched">
                          Please enter a valid Last Name (e.g Smith)
                        </mat-error>
                        <!-- <mat-error *ngIf="f.userLastName.errors?.required">
                          Last Name is <strong>required</strong>
                        </mat-error> -->
                      </div>
                    </div>
                  </div>

                </div>



                <!-- <div class="mt-2">
                                    <label for="">Username:</label> 
                                    <div class="inputWithIcon">
                                      <input type="text" placeholder="General Practices" formControlName="general">
                                      <i class="fas fa-user-nurse" aria-hidden="true"></i>
                                    </div>
                                  </div> -->


                <div class="mt-2">
                  <!-- <label for="">Username:</label> -->
                  <div class="inputWithIcon">
                    <mat-form-field class="w-100">
                      <mat-label>GENERAL PRACTICES<sup style="color: red;">*</sup></mat-label>
                      <mat-select [(value)]="selected1" (selectionChange)="selectedGp($event)">
                          <div input value="Select">Select</div>
                          <mat-option *ngFor="let item of gpData" value="{{item.gpId}}">{{item.gpName}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="f.gpId.invalid && f.gpId.touched">
                          Please Select Your GP ID
                        </mat-error>
                        <!-- <mat-error *ngIf="f.gpId.errors?.required">
                          GP ID is <strong>required</strong>
                        </mat-error> -->
                  </mat-form-field>
                  </div>
                </div>

                <div class="mt-2">
                  <!-- <label for="">Username:</label> -->
                  <div class="inputWithIcon">
                    <input matInput type="text" placeholder="UserName" formControlName="username"
                      [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required
                      [errorStateMatcher]="matcher">
                    <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                    <mat-error *ngIf="f.username.invalid && f.username.touched">
                      Please enter a valid UserName (e.g John)
                    </mat-error>
                    <!-- <mat-error *ngIf="f.username.errors?.required">
                      UserName is <strong>required</strong>
                    </mat-error> -->
                  </div>
                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="mt-2">
                      <!-- <label for="">Username:</label> -->
                      <div class="inputWithIcon">
                        <input matInput type="text" placeholder="Email" formControlName="nhsEmailId"
                          
                          [ngClass]="{'is-invalid': submitted && f.nhsEmailId.errors}" required
                          [errorStateMatcher]="matcher">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <!-- <mat-error *ngIf="f.nhsEmailId.untouched || (f.nhsEmailId.invalid && f.nhsEmailId.touched)">
                          Please enter a valid email address (e.g ex@nhs.net ex@nhs.uk)
                        </mat-error> -->
                        <mat-error *ngIf="f.nhsEmailId.invalid && f.nhsEmailId.touched">
                          Please enter a valid email address 
                        </mat-error>
                        <!-- <mat-error *ngIf="f.nhsEmailId.errors?.required">
                          Email is <strong>required</strong>
                        </mat-error> -->
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="mt-2">
                      <!-- <label for="">Username:</label> -->
                      <div class="inputWithIcon">
                        <input matInput type="text" min="10" max="10" placeholder="phoneNumber"
                          formControlName="phoneNumber" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"
                          required [errorStateMatcher]="matcher">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <mat-error *ngIf="f.phoneNumber.invalid && f.phoneNumber.touched">
                          Please enter a valid Phone Number (e.g +44 0000 000 000)
                        </mat-error>
                        <!-- <mat-error *ngIf="f.phoneNumber.errors?.required">
                          Phone Number is <strong>required</strong>
                        </mat-error> -->
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="mt-2">
                      <!-- <label for="">Username:</label> -->
                      <div class="inputWithIcon">
                        <input matInput type="password" placeholder="Password" formControlName="password"
                          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required
                          [errorStateMatcher]="matcher">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <mat-error *ngIf="f.password.invalid && f.password.touched">
                          Password must be at least 6 characters
                        </mat-error>
                        <!-- <mat-error *ngIf="f.password.errors?.required">
                          Password is <strong>required</strong>
                        </mat-error> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="mt-2">
                      <!-- <label for="">Username:</label> -->
                      <div class="inputWithIcon">
                        <input matInput type="password" placeholder="Confirm Password" formControlName="cnfPassword"
                          [errorStateMatcher]="matcher" required
                          [ngClass]="{ 'is-invalid': submitted && f.cnfPassword.errors }">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <!-- <mat-error *ngIf="f.cnfPassword.errors?.required">
                          Confirm Password is <strong>required</strong>
                        </mat-error> -->
                        <mat-error *ngIf="f.cnfPassword.errors?.mustMatch">Password must match</mat-error>
                      </div>
                    </div>
                  </div>

                </div>
                <div style="margin-top: 15px;" class="row">
                  <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary cstmBtn">Register</button>
                  </div>
                  <div style="text-align: right;" class="col-sm-6">
                    <button type="cancel" class="btn btn-primary cstmBtn" [routerLink]="['/login']">Cancel</button>
                  </div>
                </div>

              </form>         
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="    display: block;
    position: absolute;" id="footer">
      <div class="row text-center pt-lg-4 pt-sm-3">
        <div class="col-lg-3 col-sm-0"></div>
        <div class="col-lg-6 col-sm-12">
          <p class="p-0" style="font-size: 1rem; font-weight: 500; color: #000000">See your patients by video in minutes
          </p>
          <p class="p-0" style="font-size: 1rem; font-weight: 500; color: #000000">Registering with Ayuv is easy. We
            just need a few details from you.</p>
          <p class="p-0" style="font-size: 1rem; font-weight: 500; color: #000000">Your contact information will remain
            confidential and will not be shared with your
            patients.</p>
        </div>
        <div class="col-lg-3 col-sm-0"></div>
      </div>
    </div>